.container {
    max-width: 1240px !important;
    margin: 0px auto !important;
    padding: 0px 15px;
}

.searchPanel {
    padding-left: 15%;
}

.searchPanel input {
    width: 500px !important;
}
.cards {
    padding: 8% 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6%;
}